:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
    /* } */
  }
}

.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  padding: 5px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #b1edff;
  height: 30px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 6px;
  font-size: 12px;
  text-align: center;
  padding: 5px;
}

th {
  font-weight: bold;
}

input {
  width: 80%;
  padding: 4px;
  font-size: 12px;
  text-align: center;
}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-size: 16px;
  cursor: pointer;
}

.delete-btn:hover {
  color: darkred;
}


.table-dashboard {
  width: 100%;
  max-height: 330px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 5px;
  scrollbar-width: thin;
  scrollbar-color: #61b4e4 #f1f1f1;
  stroke-width: 1px;
  scroll-behavior: smooth;

}

.table-dashboard tbody {
  display: block;
  max-height: 350px;
}

.table-dashboard tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: 10px;

}


.table-dashboard td {
  border: none;
}




.user_table {
  width: 100%;
  max-height: 330px;
  /* overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  background: #fff;
  padding: 5px;
  scrollbar-width: thin;
  scrollbar-color: #61b4e4 #f1f1f1;
  stroke-width: 1px;
  scroll-behavior: smooth;

}

.user_table th {
  height: 30px;
  font-size: 15px;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: black;
  border: none;
  border-bottom: 1px solid #b6adad;
  border-radius: 8px;
  text-align: left;
}

.user_table td {
  font-size: 14px;
  text-align: center;
  padding: 18px;
  border: none;
  border-bottom: 1px solid #b6adad;
  border-radius: 8px;
  text-align: left;
}